{% extends 'UserAccount/navbar.html' %}
{% block head %}
<title> Share And Care - Change Password </title>
{{block.super}}
<script type="text/javascript">
window.onload=function()
{
document.getElementById("contact").setAttribute("class","active");
document.getElementById("home").setAttribute("class","");

}

</script>

{% endblock %}
{% block body %}

<div class="container"> 
  
        <div id="signupbox" style=" margin-top:50px" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
          
                    <div class="panel panel-info">
                        <div class="panel-heading">
                            <div class="panel-title">Change Password</div>
                        <div class="panel-body" >      
                            
                       {% block change_password %}
                
                        <form method="post" action=""  class="form-horizontal">{% csrf_token %}
                        <div id="signupalert" class="alert alert-danger">
                                    <p>
                                       {% if error_message %}
                                            <div class='message'>
                                            {{error_message}}
                                            </div>
                                         
                                         {% endif %}     
                            
                                    </p>
                                    <span></span>
                        </div>
                                    
                            {%include 'UserAccount/form-template.html'%}
                            
                       
                       <div class="form-group">

                                    <div class="col-sm-12 controls col-md-offset-3 col-md-9">
                                      <input type="submit" value="Submit" name="submit"/><br />
                                     
                                    </div>
                                </div>
                        
                        </form>
                        
                          {% endblock %}      
                        
                          
                         </div>
                    </div>

               
               
         </div>
     </div>
{% endblock %}