{% extends 'UserAccount/navbar.html'%}
{%block head %}
{{block.super}}
<style type="text/css">
	.container
	{
		width:150px;
		height:	150px;
		margin-top: 0;

	}
</style>

{% endblock %}
{% block body %}
{% block navbar %}
{{block.super}}
{% endblock %}

{% block content %}
<div class="col-md-4 col-sm-6"  >
  </div>
  <div class="col-md-5 col-sm-6" id="allposts" >
</div>

 <div class="col-md-3 col-sm-6" id="recentposts" >
 </div>
{% block recentposts %}
<script>
$(document).ready(function() {
 $.ajax({
     type: 'POST',
     url: '{% url "recent" %}',
     'data': {
           
            'csrfmiddlewaretoken': '{{ csrf_token }}',
        },
        'dataType': 'json',
     success: function(json) {
         //alert(json);
       var a=JSON.parse(json);
       //alert(a[0].model);
       var len=Object.keys(a).length;
     alert(len);
for (var i = 0; i < len; i++) {
	
        $("#recentposts").append('<div class="panel panel-info">'+
  '<div class="panel-heading">'+a[i].fields["book_title"]+'</div>'+
  '<div class="panel-body">'+'<p><b>'+a[i].fields["subject"]+'</b></p>'+
  '<p>'+a[i].fields["author"]+'<button type="button" class="btn btn-danger " style="float:right;" >View details</button></p></div>'
);
       
}

           
     }
 })
 $.ajax({
     type: 'POST',
     url: '{% url "allposts" %}',
     'data': {
           
            'csrfmiddlewaretoken': '{{ csrf_token }}',
        	},
      'dataType': 'json',
      success: function(json) {
      
       var a=JSON.parse(json);
       var len=Object.keys(a).length;
     	//alert(len);
		for (var i = 0; i < len; i++)
		 {
	
        $("#allposts").append(
        	'<div class="panel panel-info">'+
		  		'<div class="panel-heading">'+
		  '<span class="label label-primary">'+a[i].fields["book_title"]+'</span> '+
		  '<span class="label label-primary style="float:rights;">'+a[i].fields["subject"]+'</span> '+
		  '<span class="label label-primary">'+"Rs."+a[i].fields["price"]+'</span> '+
		  '</div>'+
		  '<div class="panel-body" ><table><tr><td>'+
				 
				      '<div  class="container"><p >'+a[i].fields["author"]+'</p>'+
				     
				       '<p >'+a[i].fields["pub_name"]+'</p>'+
				       '<p >'+a[i].fields["pub_year"]+'</p>'+
				       '<p >'+"Price Negotiable?:"+a[i].fields["negotiable"]+'</p>'+
				       '<p >'+"Book Condition:"+a[i].fields["b_cond"]+'</p>'+
				       
				       '<p >'+a[i].fields["b_type"]+'</p></td>'+
				    '</tr> </table>'+
		 '</div>');
       
		} }
 	})
  });

 </script>
{% endblock %}
{% endblock %}
{% block footer%}
{{block.super}}
{% endblock %}

{% endblock %}

