{% extends 'UserAccount/navbar.html'%}

{% block body %}
{% block navbar %}
{{block.super}}
{% endblock %}

{% block content %}
<div class="col-md-4 col-sm-6"  >
  </div>
  <div class="col-md-5 col-sm-6"  >
<div class="container">
<a href="{% url 'book_form'%}">
<button class="btn" type="submit" href="">Book form</button>
</a>
</div>
</div>

 <div class="col-md-3 col-sm-6" id="recentposts" >
 </div>
{% block recentposts %}
<script>
$(document).ready(function() {
 $.ajax({
     type: 'POST',
     url: '{% url "recent" %}',
     'data': {
           
            'csrfmiddlewaretoken': '{{ csrf_token }}',
        },
        'dataType': 'json',
     success: function(json) {
         alert(json);
         //document.getElementById("recentposts").innerHTML=json;
       var a=JSON.parse(json);
       alert(a[0].model);
       var len=Object.keys(a).length;
     
for (var i = 0; i < len; i++) {
	
        $("#recentposts").append('<div class="panel panel-info">'+
  '<div class="panel-heading">'+a[i].fields["book_title"]+'</div>'+
     ' <img src="'+a[i].fields["book_pic"]+'" alt="Book Picture" height="150" width="200" id="BookImage"/>'+
  '<div class="panel-body">'+json[0].fields+'</div>'+
'</div>'
);
       
}

           
     }
 })
  });

 </script>
{% endblock %}
{% endblock %}
{% block footer%}
{{block.super}}
{% endblock %}

{% endblock %}

