
{% extends 'base.html'%}
{% load staticfiles %}
{% block head %}



<title>Share and care</title>
<link rel="stylesheet" href="{% static 'UserAccount/navbar.css' %}">
<link rel="stylesheet" href="{% static 'UserAccount/footer.css' %}">

<script>
    $(document).ready(function () {
        $('.dropdown-toggle').dropdown();
    });
</script>


{% endblock %}

{% block body %}
{% block navbar%}

<nav class="navbar navbar-inverse navbar-fixed-top">

    
   <div class="col-md-5">
     <form class="navbar-form navbar-left" role="search" action="{% url 'search_book'%}" method="post" enctype="multipart/form-data">
      {% csrf_token %}
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Search" name="query">
        <select class="form-control" name="option">
	      <option value="Name">By Name</option>
	      <option value="Subject">By Subject</option>
	    </select> 
      </div>
      <button type="submit" class="btn btn-default">Submit</button>
    </form>
    
    </div>
    
       

    <div class="col-md-2 col-sm-6"  >
        <h2 style="text-align:left;font-size:16px;">
           <b>Share and Care</b>  
        </h2>
     </div>

	<div class="container-fluid">
		<button type="button" class="navbar-toggle"
				data-toggle="collapse"
				data-target=".navbar-collapse">
		<span class="sr-only">Toggle variation</span>
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
		</button>

		<div class="navbar-collapse collapse">
			<ul class="nav navbar-nav navbar-right">
	            <li class="active" id="home" ><a href="{% url 'home' %}"><i class="fa fa-home" aria-hidden="true"></i> Home </a></li>
	  			<li class="" id="sell"><a href="{% url 'book_form' %}"><i class="fa fa-book" aria-hidden="true"></i>Sell a Book  </a></li>
		        <li class="" id="donate" ><a href="{% url 'donate_book_form' %}"><i class="fa fa-book" aria-hidden="true"></i> Donate a Book </a></li>

			    <li class="" id="logout"><a href="{% url 'logout'%}"><i class="fa fa-users" aria-hidden="true"></i> Logout</a></li>
		        <li class="dropdown">
		        <div class="dropdown">
			        <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
			         More
			          <span class="caret"></span>
			        </button>

			        <ul class="dropdown-menu" aria-labelledby="dropdownMenu">

              <li class="" id="donate" ><a href="{% url 'counselling_form' %}"><i class="fa fa-book" aria-hidden="true"></i> Counselling </a></li>
              
			          <li><a href="{% url 'register'%}"><i class="fa fa-user fa-fw"></i><i class="icon-chevron-sign-up"></i>Sign Up
			          </a></li>
			          <li><a href="{% url 'login_user'%}"><i class="fa fa-key" aria-hidden="true"></i> 
			          Log in
			          </a></li>
			          <li class="" id="contact"><a href="{% url 'writetous'%}"><i class="fa fa-envelope" aria-hidden="true"></i> 
			          Contact us
			           </a></li>


                 <li class="" id="viewprofile"><a href="{% url 'view_profile'%}"><i class="fa fa-user fa-fw aria-hidden="true""></i>
			          View Profile
			           </a></li>
			        </ul>

			    </div>
			    </li>

      
			</ul>
		</div>

  	</div>

</nav>

{% endblock %}
{% block content %}
{% endblock %}
{% block footer %}
<nav class="navbar navbar-inverse navbar-fixed-bottom">
        <div class=" footer">
            <div class="row">
                <div class="col-sm-7 footer-copyright">
                    © Team- SHARE AND CARE
                    <div class="credits">

                      <button type="button" class="btn btn-link btn-md " data-toggle="modal" data-target="#myModal1">Know More About Share And Care</button>
                      <!-- Modal -->
                      <div id="myModal1" class="modal fade" role="dialog">
                        <div class="modal-dialog">

                          <!-- Modal content-->
                          <div class="modal-content">
                            <div class="modal-header">
                              <button type="button" class="close" data-dismiss="modal">&times;</button>
                              <h4 class="modal-title"> ABOUT US </h4>
                            </div>
                            <div class="modal-body">
                              <p>Share And Care is a perfect platform to widen one's horizon. Share And Care is best source of Selling, Buying and Donating Books .
								              The portal project scope is well defined by its objectives as given above – it is primarily an Online student help Platform to allow exchange of books, donation of books to the needy and help students avail counselling on various issues from faculty and student mentors.

                              Through the initial phase, a portal 'Construction Page' was implemented and later on a fully functional web based portal is being developed simultaneously. 

                            </div>

                          </div>

                        </div>
                      </div>
&nbsp; &nbsp; || &nbsp;&nbsp;
                      <button type="button" class="btn btn-link btn-md" data-toggle="modal" data-target="#myModal">FAQ</button>
                      <!-- Modal -->
                      <div id="myModal" class="modal fade" role="dialog">
                        <div class="modal-dialog">

                          <!-- Modal content-->
                          <div class="modal-content">
                            <div class="modal-header">
                              <button type="button" class="close" data-dismiss="modal">&times;</button>
                              <h4 class="modal-title">Frequently Asked Questions</h4>
                            </div>
                            <div class="modal-body">
                              <p> <strong> QUES: How do I make an account on Share And Care?</strong></p>

            <p>"Sign up for Share And Care. Visit the Share And Care creation page. Follow the steps on the screen to complete your account setup. After you've created your Share And Care Account, you can use it to sign in to Share And Care on your computer, phone, or tablet.
            </p> <p> 
            <strong> Ques: How do I change my password? </strong>

            <p>If you know your current password, you can change it:
                Click  on change password
                Type your current and new passwords
                Click Save Changes




            </p> 
            <p> 
            <strong> Ques: How can I alter my answer and delete the previous one? </strong>
            </p>
            <p>
              You can edit the answer you have posted previously quite easily using the answer module.
            </p>


                            </div>

                          </div>

                        </div>
                      </div>
                    </div>
                </div>
                <div class="col-sm-5 footer-social">
                    <div class="pull-right hidden-xs hidden-sm">
                        <a href="https://www.facebook.com/Share-and-Care-109992302967095"><i class="fa fa-facebook"></i></a>
                        &nbsp;
                        <a href="https://www.linkedin.com/company-beta/13349647/"><i class="fa fa-linkedin"></i></a>
                        &nbsp;
                        <a href="https://twitter.com/shareandcare7"><i class="fa fa-twitter"></i></a>
                        
                    </div>

                </div>

            </div>
            
        </div>

    
    </nav>
{% endblock %}

{% endblock %}
