 
.footer-copyright {
    color: #fff;
    line-height: 20px;
    text-align: left;
}
.footer-social
{
	float: right;
}
.footer-social a {
    font-size: 18px;
    color: #fff;
}
.footer-social a :hover{
color: #e5e5f2;
}
.btn-link{
    color: #fff;

}
.btn-link:hover{
  color: #e5e5f2;

}
.modal{
  color: #000;
}
.footer {
bottom: 0;
margin: 0 auto !important;
width: 100% !important;
height: 80px;
position: absolute;
background-color: #c0392b;
 }